.cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  height: 100vh;
}

.chart-cont, .filter-cont {
  display: inline-block;
  width: calc(50% - 10px);
}

.mat-form-field {
  background-color: black !important;
}

.nodes.client {
  background-color: #ffcc00; /* define uma cor de fundo amarela */
  color: black; /* define a cor do texto para preto */
  font-weight: bold; /* define a fonte em negrito */
}

