.cont {
  display: flex;
  justify-content: space-between;
  width: 100%;
  background-color: black;
  height: 100vh;
}

.chart-cont, .filter-cont {
  display: inline-block;
  width: calc(50% - 10px);
}

.mat-form-field {
  background-color: black !important;
}

