<div style="background-color: black; padding: 20px; display: flex;">
  <h4 style="font-family: Titillium Web; color: #ffffff; margin-top: 10px; margin-right: 30px;">Selecione o Ano</h4>
  <p-dropdown [options]="years" (onChange)="onYearChange()" [(ngModel)]="yearC" optionLabel="year"
    optionValue="year"></p-dropdown>
</div>

<div class="cont">
  <div class="chart-container">
    <canvas style="margin-top: 40px;" id="myChart"></canvas>
    <div style="margin-top: 20px; margin-left: 30px; width: 700px;" id="chart"></div>
  </div>
</div>
<div id="treeChart"></div>
<div style="margin-top: 20px; margin-left: 30px; width: 700px;" id="chart"></div>







<!-- <div style="display: flex; margin-top: 20px; padding: 20px;">
  <h4 style="font-family: Titillium Web; color: #ffffff; margin-top: 10px; margin-right: 30px;">Selecione o Produto
  </h4>
  <p-dropdown [options]="product" (onChange)="onChangeProduct()" [(ngModel)]="yearC" optionLabel="year"optionValue="year"></p-dropdown>
</div> -->
