.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: black;
}

.page-title {
  font-family: 'titillium web', Arial, sans-serif;
  font-size: 35px;
  color: white;
  margin-bottom: 20px;
}

.gif {
  width: 200px;
}
